.menu {
    display: flex;
    justify-content: center;
    background: #7e7e7e;
    border-bottom: 2px solid #000;

    &__items {
        display: flex;
    }

    &__item {
        // padding: 5px 0;
        text-transform: uppercase;
        
        a {
            display: block;
            padding: 5px 10px;
            font: {
                family: Lato;
                size: 15px;
                weight: bold;
            }
            text-align: center;
            color: #fff;
            transition: .5s;
            
            &:hover {
                background: #888;
            }
        }
    }
}