.topbar {
    height: 40px;
    // background: #aaa;
    border-bottom: 1px solid #e4e4e4;

    .search {
        position: relative;
        display: inline-block;
        margin: 5px 0;

        input {
            width: 220px;
            height: 28px;
            border: 1px solid #ddd;
            text-indent: 10px;
            font: {
                family: Lato;
                size: 12px;
            }
            color: #939393;
        }

        button {
            position: absolute;
            top: 8px;
            right: 5px;
            @include sprite($icon-search);
        }
    }

    .links {
        display: inline-block;
        float: right;

        ul {
            display: flex;

            .item {

                button {
                    padding: 0;
                    border: 0;
                    outline: 0;
                    height: 39px;
                    padding: 0 5px;
                    background: #fff;
                    font-family: Lato;
                    font-size: 14px;
                    color: #000;
                }

                .icon {
                    display: inline-block;
                    background: #000;
                    vertical-align: middle;

                    &--user {
                        width: 13px;
                        height: 13px;
                        background: url('../images/icon-user.png');
                        @include sprite($icon-user);
                    }

                    &--login {
                        width: 20px;
                        height: 20px;
                        background: url('../images/icon-login.png');
                        @include sprite($icon-login);
                    }

                    &--cart {
                        width: 12px;
                        height: 12px;
                        background: url('../images/icon-cart.png');
                        @include sprite($icon-cart);
                    }
                }
            }
        }
    }
}