.header {
    @include centralize();
    
    @import "topbar";
    &__logo {
        width: 285px;
        height: 74px;
        @include centralize(285px, 20px);
        @include hide-text();
        @include sprite($logo);
    }

    &__logo-link {
        display: block;
        width: 100%;
        height: 100%;
    }
    @import "menu";
}