$max-width: 960px;

@mixin centralize($width: 960px, $margin-y: 0) {
    margin: {
        top: $margin-y;
        bottom: $margin-y;
        left: auto;
        right: auto;
    }
    max-width: $width;
}

@mixin hide-text {
    font-size: 0;
    text-indent: -9999px;
}

%centralize-xy {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

%custom-title {
    position: relative;
    display: block;
    color: #000;
    font: {
        family: Lato;
        size: 18px;
    }
    text: {
        align: center;
        transform: uppercase;
    }
    letter-spacing: 1px;
    background: white;
    padding: 2px 0;
    line-height: 18px;

    &::before,
    &::after {
        content: '';
        border-bottom: 1px solid #000;
        width: 43%;
        display: inline-block;
        vertical-align: middle;
    }

    &::before {
        margin-right: 10px;
    }

    &::after {
        margin-left: 10px;
    }
}