// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-american-express-name: 'icon-american-express';
$icon-american-express-x: 48px;
$icon-american-express-y: 102px;
$icon-american-express-offset-x: -48px;
$icon-american-express-offset-y: -102px;
$icon-american-express-width: 48px;
$icon-american-express-height: 28px;
$icon-american-express-total-width: 285px;
$icon-american-express-total-height: 158px;
$icon-american-express-image: '../images/sprite.png';
$icon-american-express: (48px, 102px, -48px, -102px, 48px, 28px, 285px, 158px, '../images/sprite.png', 'icon-american-express', );
$icon-aura-name: 'icon-aura';
$icon-aura-x: 144px;
$icon-aura-y: 102px;
$icon-aura-offset-x: -144px;
$icon-aura-offset-y: -102px;
$icon-aura-width: 48px;
$icon-aura-height: 28px;
$icon-aura-total-width: 285px;
$icon-aura-total-height: 158px;
$icon-aura-image: '../images/sprite.png';
$icon-aura: (144px, 102px, -144px, -102px, 48px, 28px, 285px, 158px, '../images/sprite.png', 'icon-aura', );
$icon-cart-name: 'icon-cart';
$icon-cart-x: 123px;
$icon-cart-y: 130px;
$icon-cart-offset-x: -123px;
$icon-cart-offset-y: -130px;
$icon-cart-width: 12px;
$icon-cart-height: 12px;
$icon-cart-total-width: 285px;
$icon-cart-total-height: 158px;
$icon-cart-image: '../images/sprite.png';
$icon-cart: (123px, 130px, -123px, -130px, 12px, 12px, 285px, 158px, '../images/sprite.png', 'icon-cart', );
$icon-diners-club-name: 'icon-diners-club';
$icon-diners-club-x: 130px;
$icon-diners-club-y: 74px;
$icon-diners-club-offset-x: -130px;
$icon-diners-club-offset-y: -74px;
$icon-diners-club-width: 48px;
$icon-diners-club-height: 28px;
$icon-diners-club-total-width: 285px;
$icon-diners-club-total-height: 158px;
$icon-diners-club-image: '../images/sprite.png';
$icon-diners-club: (130px, 74px, -130px, -74px, 48px, 28px, 285px, 158px, '../images/sprite.png', 'icon-diners-club', );
$icon-discover-name: 'icon-discover';
$icon-discover-x: 178px;
$icon-discover-y: 74px;
$icon-discover-offset-x: -178px;
$icon-discover-offset-y: -74px;
$icon-discover-width: 48px;
$icon-discover-height: 28px;
$icon-discover-total-width: 285px;
$icon-discover-total-height: 158px;
$icon-discover-image: '../images/sprite.png';
$icon-discover: (178px, 74px, -178px, -74px, 48px, 28px, 285px, 158px, '../images/sprite.png', 'icon-discover', );
$icon-elo-name: 'icon-elo';
$icon-elo-x: 226px;
$icon-elo-y: 74px;
$icon-elo-offset-x: -226px;
$icon-elo-offset-y: -74px;
$icon-elo-width: 48px;
$icon-elo-height: 28px;
$icon-elo-total-width: 285px;
$icon-elo-total-height: 158px;
$icon-elo-image: '../images/sprite.png';
$icon-elo: (226px, 74px, -226px, -74px, 48px, 28px, 285px, 158px, '../images/sprite.png', 'icon-elo', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 48px;
$icon-facebook-y: 130px;
$icon-facebook-offset-x: -48px;
$icon-facebook-offset-y: -130px;
$icon-facebook-width: 25px;
$icon-facebook-height: 27px;
$icon-facebook-total-width: 285px;
$icon-facebook-total-height: 158px;
$icon-facebook-image: '../images/sprite.png';
$icon-facebook: (48px, 130px, -48px, -130px, 25px, 27px, 285px, 158px, '../images/sprite.png', 'icon-facebook', );
$icon-instagram-name: 'icon-instagram';
$icon-instagram-x: 240px;
$icon-instagram-y: 102px;
$icon-instagram-offset-x: -240px;
$icon-instagram-offset-y: -102px;
$icon-instagram-width: 25px;
$icon-instagram-height: 27px;
$icon-instagram-total-width: 285px;
$icon-instagram-total-height: 158px;
$icon-instagram-image: '../images/sprite.png';
$icon-instagram: (240px, 102px, -240px, -102px, 25px, 27px, 285px, 158px, '../images/sprite.png', 'icon-instagram', );
$icon-jcb-name: 'icon-jcb';
$icon-jcb-x: 96px;
$icon-jcb-y: 102px;
$icon-jcb-offset-x: -96px;
$icon-jcb-offset-y: -102px;
$icon-jcb-width: 48px;
$icon-jcb-height: 28px;
$icon-jcb-total-width: 285px;
$icon-jcb-total-height: 158px;
$icon-jcb-image: '../images/sprite.png';
$icon-jcb: (96px, 102px, -96px, -102px, 48px, 28px, 285px, 158px, '../images/sprite.png', 'icon-jcb', );
$icon-login-name: 'icon-login';
$icon-login-x: 265px;
$icon-login-y: 102px;
$icon-login-offset-x: -265px;
$icon-login-offset-y: -102px;
$icon-login-width: 20px;
$icon-login-height: 20px;
$icon-login-total-width: 285px;
$icon-login-total-height: 158px;
$icon-login-image: '../images/sprite.png';
$icon-login: (265px, 102px, -265px, -102px, 20px, 20px, 285px, 158px, '../images/sprite.png', 'icon-login', );
$icon-mastercard-name: 'icon-mastercard';
$icon-mastercard-x: 192px;
$icon-mastercard-y: 102px;
$icon-mastercard-offset-x: -192px;
$icon-mastercard-offset-y: -102px;
$icon-mastercard-width: 48px;
$icon-mastercard-height: 28px;
$icon-mastercard-total-width: 285px;
$icon-mastercard-total-height: 158px;
$icon-mastercard-image: '../images/sprite.png';
$icon-mastercard: (192px, 102px, -192px, -102px, 48px, 28px, 285px, 158px, '../images/sprite.png', 'icon-mastercard', );
$icon-moip-name: 'icon-moip';
$icon-moip-x: 0px;
$icon-moip-y: 130px;
$icon-moip-offset-x: 0px;
$icon-moip-offset-y: -130px;
$icon-moip-width: 48px;
$icon-moip-height: 28px;
$icon-moip-total-width: 285px;
$icon-moip-total-height: 158px;
$icon-moip-image: '../images/sprite.png';
$icon-moip: (0px, 130px, 0px, -130px, 48px, 28px, 285px, 158px, '../images/sprite.png', 'icon-moip', );
$icon-pagseguro-name: 'icon-pagseguro';
$icon-pagseguro-x: 0px;
$icon-pagseguro-y: 74px;
$icon-pagseguro-offset-x: 0px;
$icon-pagseguro-offset-y: -74px;
$icon-pagseguro-width: 82px;
$icon-pagseguro-height: 28px;
$icon-pagseguro-total-width: 285px;
$icon-pagseguro-total-height: 158px;
$icon-pagseguro-image: '../images/sprite.png';
$icon-pagseguro: (0px, 74px, 0px, -74px, 82px, 28px, 285px, 158px, '../images/sprite.png', 'icon-pagseguro', );
$icon-search-name: 'icon-search';
$icon-search-x: 111px;
$icon-search-y: 130px;
$icon-search-offset-x: -111px;
$icon-search-offset-y: -130px;
$icon-search-width: 12px;
$icon-search-height: 12px;
$icon-search-total-width: 285px;
$icon-search-total-height: 158px;
$icon-search-image: '../images/sprite.png';
$icon-search: (111px, 130px, -111px, -130px, 12px, 12px, 285px, 158px, '../images/sprite.png', 'icon-search', );
$icon-ticket-name: 'icon-ticket';
$icon-ticket-x: 0px;
$icon-ticket-y: 102px;
$icon-ticket-offset-x: 0px;
$icon-ticket-offset-y: -102px;
$icon-ticket-width: 48px;
$icon-ticket-height: 28px;
$icon-ticket-total-width: 285px;
$icon-ticket-total-height: 158px;
$icon-ticket-image: '../images/sprite.png';
$icon-ticket: (0px, 102px, 0px, -102px, 48px, 28px, 285px, 158px, '../images/sprite.png', 'icon-ticket', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 73px;
$icon-twitter-y: 130px;
$icon-twitter-offset-x: -73px;
$icon-twitter-offset-y: -130px;
$icon-twitter-width: 25px;
$icon-twitter-height: 27px;
$icon-twitter-total-width: 285px;
$icon-twitter-total-height: 158px;
$icon-twitter-image: '../images/sprite.png';
$icon-twitter: (73px, 130px, -73px, -130px, 25px, 27px, 285px, 158px, '../images/sprite.png', 'icon-twitter', );
$icon-user-name: 'icon-user';
$icon-user-x: 98px;
$icon-user-y: 130px;
$icon-user-offset-x: -98px;
$icon-user-offset-y: -130px;
$icon-user-width: 13px;
$icon-user-height: 13px;
$icon-user-total-width: 285px;
$icon-user-total-height: 158px;
$icon-user-image: '../images/sprite.png';
$icon-user: (98px, 130px, -98px, -130px, 13px, 13px, 285px, 158px, '../images/sprite.png', 'icon-user', );
$icon-visa-name: 'icon-visa';
$icon-visa-x: 82px;
$icon-visa-y: 74px;
$icon-visa-offset-x: -82px;
$icon-visa-offset-y: -74px;
$icon-visa-width: 48px;
$icon-visa-height: 28px;
$icon-visa-total-width: 285px;
$icon-visa-total-height: 158px;
$icon-visa-image: '../images/sprite.png';
$icon-visa: (82px, 74px, -82px, -74px, 48px, 28px, 285px, 158px, '../images/sprite.png', 'icon-visa', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 285px;
$logo-height: 74px;
$logo-total-width: 285px;
$logo-total-height: 158px;
$logo-image: '../images/sprite.png';
$logo: (0px, 0px, 0px, 0px, 285px, 74px, 285px, 158px, '../images/sprite.png', 'logo', );
$spritesheet-width: 285px;
$spritesheet-height: 158px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-american-express, $icon-aura, $icon-cart, $icon-diners-club, $icon-discover, $icon-elo, $icon-facebook, $icon-instagram, $icon-jcb, $icon-login, $icon-mastercard, $icon-moip, $icon-pagseguro, $icon-search, $icon-ticket, $icon-twitter, $icon-user, $icon-visa, $logo, );
$spritesheet: (285px, 158px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
