.contact__page {
    @include centralize();
    padding: 50px 0;

    .title {
        display: block;
        margin-bottom: 50px;
        font: {
            family: Lato;
            size: 18px;
        }
        text: {
            align: center;
            transform: uppercase;
        }
    }

    .form {
        // margin-left: 60px;
        @include centralize(500px);

        .group {
            margin: 15px 0;
        }

        label {
            display: block;
            line-height: 15px;
            font-size: 12px;
            text-indent: 2px;
        }
        input {
            display: block;
            width: 100%;
            height: 30px;
            border: 1px solid #aaa;
            font-size: 14px;
            text-indent: 10px;
        }

        .btn-send {
            height: 30px;
            width: 80px;
            background: #333;
            font-size: 16px;
            color: #fff;
        }
    }
    
}