.banner {
    position: relative;
    height: 398px;
    background: #666;
    overflow: hidden;

    .slick {

        &-arrow {
            padding: 0;
            position: absolute;
            top: 179px;
            z-index: 2;
            width: 42px;
            height: 42px;
            background: #ecebe6;
            @include hide-text();

            &::before {
                content: '';
                @extend %centralize-xy;
                width: 10px;
                height: 10px;
                border: 2px solid #82827f;
                transform: rotate(45deg);
            }
        }

        &-prev {
            left: 0;

            &::before {
                border-right: 0;
                border-top: 0;
            }
        }

        &-next {
            right: 0;

            &::before {
                border-left: 0;
                border-bottom: 0;
            }
        }
    }
}