.banner-secondary {
    display: flex;

    &__item {
        margin: 10px 5px;
        max-width: 313px;
        height: 175px;
        background:red;
        overflow: hidden;

        &:hover {
            img {
                transform: scale(1.1);
            }
        }

        img {
            transition: transform .35s ease;
        }

        &--ml-0 {
            margin-left: 0;
        }

        &--mr-0 {
            margin-right: 0;
        }
    }
}