.feed-instagram {

    &__title {
        @extend %custom-title;
    }

    &__list {
        display: flex;

        .photo {
            margin: 15px;
            transition: transform .35s ease;

            &:hover {
                transform: rotate(10deg);

                // &:nth-child(odd) {
                //     transform: rotate(10deg);
                // }
    
                // &:nth-child(even) {
                //     transform: rotate(-10deg);
                // }
            }            
        }
    }
}