.shelf {
    // height: 400px;
    // background: #ccc;

    &__title {
        @extend %custom-title;
    }

    &__product-list {

        .product {
            position: relative;
            display: inline-block;
            margin: 30px 17px;
            // background: red;

            &:hover {
                .product__image {
                    transform: scaleX(-1);
                }
            }

            &__image {
                display: block;
                margin: 0 auto;
                background: red;
            }

            &__name,
            &__price,
            &__info {
                display: block;
                text-align: center;
                font: {
                    family: Lato;
                    size: 16px;
                    weight: bold;
                }
                line-height: 20px;
            }

            &__name {
                padding-bottom: 15px;
                color: #636363;
            }

            &__price {
                color: #b53e39;
            }

            &__info {
                color: #636363;
            }

            &__unavailable {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                text-transform: uppercase;
                width: 113px;
                height: 27px;
                background: #ec2828;
                line-height: 27px;
                font: {
                    family: Lato;
                    size: 12px;
                    weight: bold;
                }
                text-align: center;
                letter-spacing: 1px;
                color: #fff;
            }
        }
    }
}