main.content

    include components/differential.pug

    include components/banner.pug

    include components/banner-secondary.pug

    include components/shelf.pug

    include components/banner-footer.pug

    include components/feed-instagram.pug