<!DOCTYPE html>
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Teste Corebiz

        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>
        link(rel="stylesheet", href="assets/styles/main.css")
    body
        include components/header.pug

        main.contact__page
            span.title Entre em contato conosco

            form(action="", class="form")

                div.group
                    label(for="name") Nome
                    input(type="text", name="name", class="name")

                div.group
                    label(for="email") Email
                    input(type="email", name="email", class="email")

                div.group
                    label(for="notice") Mensagem
                    input(type="text", name="notice", class="notice")

                div.group
                    label(for="phone") Celular
                    input(type="text", name="phone", class="phone")

                button.btn-send Enviar

        include components/footer.pug

        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js')

        script(src="/assets/scripts/build.js")