.footer {
    border-top: 2px solid #000;
    @include centralize();
    height: 260px;

    &__list {
        display: inline-block;
        vertical-align: top;
        margin: 25px 20px;

        span {
            display: block;
            padding: 20px 0;
            font: {
                family: Lato;
                size: 18px;
            }
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        li {
            .icon-arrow {
                position: relative;
                display: inline-block;
                width: 12px;
                height: 8px;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    background: #333;
                }

                &::before {                    
                    top: 2px;
                    width: 100%;
                    height: 2px;
                }

                &::after {
                    top: 0;
                    right: 0;
                    width: 3px;
                    height: 3px;
                    $border-arrow: 3px solid #333;
                    border: {
                        top: $border-arrow;
                        right: $border-arrow;
                    }
                    background-color: #fff;
                    background-color: transparent;
                    transform: rotate(45deg);
                }
            }

            a {
                color: #333;
                font-size: 16px;
                line-height: 25px;
            }

            .link {
                display: inline-block;
                padding-left: 10px;
                line-height: 35px;
                
                &:after {
                  content: '';
                  display: block;
                  margin-top: -5px;
                  width: 0;
                  height: 1px;
                  background: #333;
                  transition-duration: .5s;
                }
                
                &:hover {
                  &:after {
                    width: 100%;
                  }
                }
              }
        }

        input {
            width: 175px;
            height: 34px;
            border: 1px solid #e4e4e4;
            font-size: 16px;
            text-indent: 10px;
        }

        button {
            margin-left: -5px;
            width: 72px;
            height: 34px;
            background-color: #000;
            font-size: 14px;
            color: #fff;
        }

        ul {
            display: flex;
            li {
                margin: 0 8px;

                i {
                    display: block;
                    width: 25px;
                    height: 27px;
                    background: #aaa;
                }

                .icon {

                    @each $icon, $sprite in ('facebook', $icon-facebook),
                                            ('twitter', $icon-twitter),
                                            ('instagram', $icon-instagram) {

                        &-#{$icon} {
                            @include sprite($sprite);
                        }
                    }
                }
            }
        }
    }

    &__payment {
        border-top: 1px dotted #aaa;
        border-bottom: 1px dotted #aaa;
    }

    &__credit-cards-items {
        display: flex;
    }

    &__credit-cards-item {
        margin: 5px 2px;
        width: 48px;
        height: 28px;
        background: #aaa;

        @each $icon, $sprite in 
            ('visa', $icon-visa),
            ('mastercard', $icon-mastercard),
            ('diners-club', $icon-diners-club),
            ('elo', $icon-elo),
            ('american-express', $icon-american-express),
            ('aura', $icon-aura),
            ('discover', $icon-discover),
            ('jcb', $icon-jcb),
            ('ticket', $icon-ticket),
            ('moip', $icon-moip),
            ('pagseguro', $icon-pagseguro) {

            &--#{$icon} {
                @include sprite($sprite);
            }
        }

        &--pagseguro {
            width: 82px;
        }
    }

    &__copy {
        display: block;
        padding: 25px;
        line-height: 18px;
        font-size: 16px;
        text-align: center;
    }
}