.banner
    div
        a(href='')
            img(src='assets/images/banner-main.jpg')
    
    div
        a(href='')
            img(src='assets/images/banner-main.jpg')
    
    div
        a(href='')
            img(src='assets/images/banner-main.jpg')