.banner-secondary
    .banner-secondary__item.banner-secondary__item--ml-0
        a(href='')
            img(src='assets/images/banner-secondary-1.jpg')

    .banner-secondary__item
        a(href='')
            img(src='assets/images/banner-secondary-2.jpg')

    .banner-secondary__item.banner-secondary__item--mr-0
        a(href='')
            img(src='assets/images/banner-secondary-3.jpg')