.feed-instagram
    span.feed-instagram__title Instagram

    .feed-instagram__list
        each val in [1, 2, 3, 4, 5, 6]
            .photo
                a(href='')
                    img(src='assets/images/photo-instagram.jpg')
