footer.footer

    ul.footer__list
        span Institucional

        li
            i.icon-arrow
            a(href='', class='link') Quem Somos

        li
            i.icon-arrow
            a(href='', class='link') Contato

    ul.footer__list
        span Ajuda & Suporte

        li
            i.icon-arrow
            a(href='', class='link') Como comprar

        li
            i.icon-arrow
            a(href='', class='link') Termos e Condições

    ul.footer__list
        span Newsletter

        form(action="")
            input(type="email", name="news-email", placeholder="Insira ser e-mail")
            button(type="submit") Assinar
    
    ul.footer__list
        span Redes sociais

        ul
            li
                a(href='', title='Facebook') <i class='icon-facebook'></i>

            li
                a(href='', title='Twitter') <i class='icon-twitter'></i>

            li
                a(href='', title='Instagram') <i class='icon-instagram'></i>

    .footer__payment
        ul.footer__credit-cards-items
            each flag in ['visa', 'mastercard', 'diners-club', 'elo', 'american-express', 'aura', 'discover', 'jcb', 'ticket', 'moip', 'pagseguro']
                li(class='footer__credit-cards-item footer__credit-cards-item--' + flag, title=flag)

    span.footer__copy &copy; 2015 Loja Virtual. Todos os direitos reservados.