header.header
    .topbar
        .search
            form(action="")
                input(type="text", name="", placeholder="Buscar")
                button(type="submit")
        
        .links
            ul
                li.item
                    button(title='Minha conta') <i class='icon icon--user'></i> <span>Minha conta</span>
                li.item
                    button(title='Entrar') <i class='icon icon--login'></i> <span>Entrar</span>
                li.item
                    button(title='Carrinho') <i class='icon icon--cart'></i> <span>Carrinho: <span>0</span> itens</span>

    h1.header__logo 
        a(href='', class='header__logo-link') Corebiz
    
    nav.menu
        ul.menu__items
            each val, index in {1:'Camisas',2:'Camisetas',3:'Blusas',4:'Bermudas',5:'Calças',6:'Acessórios',7:'Sales'}
                li.menu__item
                    a(href='#')= val