.shelf
    span.shelf__title Destaques

    .shelf__product-list
        each val in [1, 2, 3, 4, 5, 6, 7, 8]
            a(href='')
                .product
                    img(src='assets/images/product-image.jpg', class='product__image')
                    span.product__name Legging Faux Leather Sailor
                    span.product__price R$ 60,00
                    span.product__info 3x de R$20,00
                    span.product__unavailable Indisponível
